.btn-red {
    background-color: rgb(216, 26, 36);
    color: white;

    &:hover {
        background-color: transparent;
        color: red;
        transition: 0.4s;
        outline: 1px solid rgb(216, 26, 36);
    }
}

#login {
    &:hover {
        background-color: rgb(18, 132, 178);
        border-radius: 20px;
        transition: 0.6s;
    }
}

.nav-item {
    a {
        &:hover {
            color: red !important;
            transition: 0.7s;
        }
    }

    .active {
        border-bottom: 1px solid rgb(216, 26, 36);
    }

    .dropdown-item {
        background-color: white;
    }

    .nav-link {
        color: white !important;
    }
}

#searchInp {
    border-radius: 15px;
    border: none;
    box-shadow: 3px 1px 8px 0px rgb(197, 197, 197);
    background-color: rgb(123, 138, 250);
    opacity: 0.7;

}

.fa-solid {
    top: 25%;
    right: 3%;
}

header {
    background-repeat: no-repeat;
    background-image: url("/images/movieback.png");
    background-size: cover;
    background-position: center;
    nav {
        background-color:rgba(10, 32, 54);
    }
}

.slogan {
    height: 98vh;

    h1 {
        font-size: 50px;
    }

    button {
        width: 33%;
        border: none;
    }
}