.login-card {
    width: 33%;
    border: none;
    border-radius: 8px;
    background-color: rgb(10, 32, 54);
    box-shadow: 5px 3px 10px 3px rgb(10, 36, 63);
    input:focus{
      outline: 1px solid rgb(32, 110, 194);
    }

    i {
        position: absolute;
        cursor: pointer;
        line-height: 35px;
        right: 8px;
        top:4px;
    }
    .enter {
        border-radius: 8px;
        border: none;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            color: red;
        }
    }
}

.login {
    background-color: rgb(248, 249, 250);
}

.name {
    width: 41%;
    border-radius: 8px;
    border: none;
}