.btn-red {
  background-color: rgb(216, 26, 36);
  color: white;
}
.btn-red:hover {
  background-color: transparent;
  color: red;
  transition: 0.4s;
}

#login:hover {
  background-color: rgb(18, 132, 178);
  border-radius: 20px;
  transition: 0.6s;
}

.nav-item a:hover {
  color: red !important;
  transition: 0.7s;
}
.nav-item .active {
  border-bottom: 1px solid rgb(216, 26, 36);
}
.nav-item .dropdown-item {
  background-color: white;
}
.nav-item .nav-link {
  color: white !important;
}

#searchInp {
  border-radius: 15px;
  border: none;
  box-shadow: 3px 1px 8px 0px rgb(197, 197, 197);
  background-color: rgb(123, 138, 250);
  opacity: 0.7;
}

.fa-solid {
  top: 25%;
  right: 3%;
}

header {
  width: 100%;
  padding-bottom: 12%;
  background-image: linear-gradient(rgba(43, 42, 42, 0.3), rgba(12, 12, 12, 0.4)), url("https://img.freepik.com/free-photo/professional-lighting-equipment-movie-set-with-smoke-air_1268-17216.jpg?w=900&t=st=1686173518~exp=1686174118~hmac=d33d2f40f87a4a56cd9c71ab44410787e672ce14036245b682f5ced09a759cfc");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slogan {
  height: 50vh;
}
.slogan h1 {
  font-size: 50px;
}
.slogan button {
  width: 33%;
  border: none;
}

.section-head {
  height: 30vh;
}
.section-head h2 {
  font-size: 45px;
}
.section-head::after {
  content: "";
  width: 8%;
  height: 1.5px;
  background-color: rgb(241, 8, 8);
  position: absolute;
  top: 73%;
}

.film-card img {
  border: none;
  border-radius: 4px;
  width: 90%;
  height: 48vh;
}

.filter {
  background-color: rgb(248, 249, 250);
}
.filter img {
  box-shadow: 2px 1px 3px 1px grey;
  height: 48vh;
}
.filter .dropdown-toggle {
  font-size: 17px;
  color: rgb(54, 74, 255);
}
.filter .dropdown-item:hover {
  color: rgb(54, 74, 255);
  background-color: white;
}

.details {
  background-color: rgb(248, 249, 250);
}
.details .poster img {
  box-shadow: 2px 1px 3px 1px grey;
  border: none;
  border-radius: 4px;
  width: 90%;
}
.details .direction {
  width: 15%;
  font-weight: bold;
}

.content {
  height: 260px;
}

iframe {
  width: 100%;
  height: 500px;
}

.partners {
  background-color: rgb(248, 249, 250);
}

.feedback .customer-img {
  width: 60px;
  height: 60px;
  border: none;
  margin: 0 auto;
}
.feedback .customer-name {
  color: red;
}

#feedback {
  color: rgb(5, 15, 32);
}

.comment-card {
  background-color: white;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0px 0px 1px 1px lightgrey;
  border: none;
}
.comment-card img {
  border: none;
  border-radius: 50%;
  width: 80%;
}
.comment-card ul li {
  list-style: none;
  display: inline-block;
}
.comment-card ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
.comment-card ul li a:hover {
  color: rgb(137, 137, 248);
}

.details textarea {
  height: 100px;
  outline: 1px solid rgb(188, 210, 252);
  border-radius: 4px;
  border: none;
}
.details input {
  outline: 1px solid rgb(188, 210, 252);
  border-radius: 4px;
  border: none;
}

footer {
  background-color: black;
  padding: 50px 0;
}
footer ul li {
  list-style: none;
  color: white;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li a:hover {
  color: red;
}

.contact a {
  text-decoration: none;
  color: white;
}
.contact a i {
  margin-right: 10px;
  font-size: 23px;
  color: rgb(216, 26, 36);
}
.contact a i:hover {
  color: white;
}

.contact-card {
  margin: 0 10px;
}
.contact-card i {
  color: red;
  font-size: 25px;
}
.contact-card a {
  text-decoration: none;
  color: red;
}

.login-card {
  width: 33%;
  border: none;
  border-radius: 8px;
  background-color: rgb(10, 32, 54);
  box-shadow: 5px 3px 10px 3px rgb(10, 36, 63);
}
.login-card .enter {
  width: 80%;
  border-radius: 8px;
  border: none;
}
.login-card a {
  text-decoration: none;
  color: white;
}
.login-card a:hover {
  color: red;
}

.login {
  background-color: rgb(248, 249, 250);
}

.name {
  width: 45%;
  border-radius: 8px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-blue {
  background-color: rgb(5, 15, 32);
}/*# sourceMappingURL=style.css.map */